.location-box-cover {
  padding: 20px;
  .custom-style {
    width: 100%;
    border: 1px solid rgb(123, 123, 123);
    border-radius: 5px;
    padding: 10px;
  }
}
i.fa.fa-compass {
  font-size: 35px;
}
